@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #eee;
}

:root {
  --black-clr: #1d1f22;
  --selected-clr: #5ece7b;
}

.header {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  align-items: center;
  padding: 1rem 2.5rem 0 2rem;
  /* height: 80px; */
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
}
.navigation > * {
  text-decoration: none;
  padding: 2rem 1rem;
  color: var(--black-clr);
}
.selected {
  color: var(--selected-clr);
  border-bottom: 2px solid var(--selected-clr);
}
.buy-actions {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
}

.buy-actions button {
  cursor: pointer;
  color: var(--black-clr);
  display: flex;
  column-gap: 5px;
  align-items: center;
  font-size: 18px;
  border: none;
  background: transparent;
}
.currency {
  position: relative;
}
.currency-container {
  position: absolute;
  width: max-content;
  background: #fff;
  display: flex;
  flex-direction: column;
  transform: translateX(-35%) translateY(5%);
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.3);
}
.currency-container button {
  padding: 0.8rem 1.5rem;
  cursor: pointer;
}
.currency-container button:hover {
  background: #eee;
}
