@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  background: #eee;
}

:root {
  --black-clr: #1d1f22;
  --selected-clr: #5ece7b;
}

.header {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  align-items: center;
  padding: 1rem 2.5rem 0 2rem;
  /* height: 80px; */
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
}
.navigation > * {
  text-decoration: none;
  padding: 2rem 1rem;
  color: var(--black-clr);
}
.selected {
  color: var(--selected-clr);
  border-bottom: 2px solid var(--selected-clr);
}
.buy-actions {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
}

.buy-actions button {
  cursor: pointer;
  color: var(--black-clr);
  display: flex;
  column-gap: 5px;
  align-items: center;
  font-size: 18px;
  border: none;
  background: transparent;
}
.currency {
  position: relative;
}
.currency-container {
  position: absolute;
  width: max-content;
  background: #fff;
  display: flex;
  flex-direction: column;
  transform: translateX(-35%) translateY(5%);
  z-index: 5;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.3);
}
.currency-container button {
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  z-index: 5;
}
.currency-container button:hover {
  background: #eee;
}
.product-container {
  padding: 30px;
}
.products {
  display: flex;
  flex-wrap: wrap;
}
.product-container > h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: var(--black-clr);
}
.ProductinStock:hover {
  background: #fff;
}
.product {
  width: 390px;
  height: 440px;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.out-ofStock {
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  font-size: 3rem;
  width: max-content;
  left: 0;
}
.inStock {
  display: none;
}
.product > .product-image {
  position: relative;
  width: 100%;
  height: 360px;
  overflow: hidden;
}
.product-image img {
  width: 100%;
  height: auto;
}
.product h2 {
  font-size: 18px;
  font-weight: 300;
}
.product h4 {
  font-size: 18px;
  font-weight: 700;
}
.Productout-ofStock {
  opacity: 0.5;
}
